<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <php>
        <server name="KERNEL_DIR" value="tests/" />
    </php>

    <testsuites>
        <testsuite name="Tradeline lib Unit Test Suite">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Tradeline lib Functional Test Suite">
            <directory>./tests/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
